$primary: #ea40a4;
$light: #eee;
$grey: #888;
$dark: #313154;
$business: #3a82ee;
$personal: $primary;
$danger: red;


$shadow: 0 1px 3px rgba(0,0,0,0.2);

$business-glow: 0 0 6px rgba(58, 130, 238, 0.5);
$personal-glow: 0 0 6px rgba(234, 64, 164, 0.5);

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

input:not([type="radio"]) {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor:initial;
}

body {
  background:$light;
  color:$dark;
}

section {
  margin:2rem 0;
  padding:0 1.5rem;
}

h2 {
  color: $primary;
  font-size: 1rem;
}
h3 {
  color: $dark;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
h4 {
  color: $grey;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.greeting {
  .title{

    input{
      margin-left: 0.5rem;
      padding: 0.5rem;
      font-size: large;
      font-weight: 700;
      border: 1px solid #e3e3e3;
      background-color:#fff;

      &::placeholder{
        font-size:0.8rem;
        font-weight: 400;
      }
    }
  }
}

.create_todo {
  .todo_input {
    width: 100%;
    background: #fff;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    color: $dark;
    border-radius: 0.5rem;
    box-shadow:$shadow;
    margin-bottom: 1.5rem;
  }

  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;    
  }

  input[type="submit"] {
    @extend .todo_input;

    color:#fff;
    background: $primary;
    box-shadow:$personal-glow;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
      transform: translate(0.2rem, 0.2rem);
    }
  }
}



  
.label{ 
  @include center;
  flex-direction: column;      
  padding:1.5rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: $shadow;

  input {
    display: none;

    &:checked ~ .bubble::after {
      width:10px; height: 10px;
      opacity:1;
    }
  }

  .bubble {
    @include center;

    width: 20px; height: 20px;
    border-radius: 50%;
    border: 2px solid $business;
    box-shadow:$business-glow;

    &::after {
      display: block;
      content: "";
      width:0; height: 0;
      background: $business;
      border-radius: 50%;
      box-shadow: $business-glow;
      opacity:0;
      transition: 0.3s ease-in;
    }

    &.personal {
      border: 2px solid $personal;
      box-shadow:$personal-glow;

      &::after{
        background:$personal;
        box-shadow: $personal-glow
      }

    }
  }

  div {
    color: $dark;
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  
}
.todo_list .list {
	margin: 1rem 0;

  .todo_item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;

    label {
      @extend .label;
      padding:0;
      display: block;
      margin-right: 1rem;
      cursor: pointer;
    }
    .todo_content {
      flex: 1;

      input {
        color: var(--dark);
        font-size: 1.125rem;
        width: 95%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .actions {
      display: flex;
      align-items: center;

      button {
        display: block;
        padding: 0.5rem;
        border:none;
        border-radius: 0.25rem;
        color: #FFF;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: translate(0.05rem, 0.05rem);
        }
        .edit {
          margin-right: 0.5rem;
          background-color: $primary;
        }
        &.delete {
          background-color: $danger;
        }
      }
    }  
    &.done .todo_content input {
      text-decoration: line-through;
      color: $grey;
    }  
  } 
}